.place-order{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin: 100px 0px;
    margin-top: 60px;
    margin-bottom: 0px;
    padding-bottom: 100px;
}
.place-order-left{
    width: 100%;
    max-width: max(30%,500px);
}
.place-order-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
.place-order-left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 0.5px solid #554e4e;
    border-radius: 4px;
    background-color: #1b1b1b;
    color: #faf4f2;
}
.place-order-left .multi-field{
    display: flex;
    gap: 10px;
}
.place-order-right{
    width: 100%;
    max-width: max(40%,500px);
}
.place-order-submit{
    margin-top: 50px;
    border: none;
    background-color: tomato;
    color: white;
    padding: 12px 30px;
    border-radius: 4px;
    cursor: pointer;
}
.place-order-submit:hover{
    box-shadow: 0px 0px 10px  rgba(255, 255, 255, 0.3);
}
.payment{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}
.payment h2{
    margin-top: 30px;
    margin-bottom: 20px;
}
.payment .payment-option{
    display: flex;
    align-items: center;
    gap: 10px ;
    border: 1px solid tomato;
    padding: 15px;
    border-radius: 4px;
    min-width: 300px;
    cursor: pointer;
}
.payment .payment-option:hover{
    background-color:  #141414;
    box-shadow: 0px 0px 10px  rgba(255, 255, 255, 0.1);
}

@media (max-width:700px) {
    .place-order{
        flex-direction: column;
    }
}